@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  /*dark --prefersdark; */
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-base-content: white;
  --color-primary: blue;
  --color-secondary: teal;
}

@theme {
  --font-antonio: 'Antonio', sans-serif;
}
